.container {
  width: 1440px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f9fbff;
  padding-right: 95px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: block;
    padding: 12px;
  }
}
