.tableContainer {
  padding: 40px 0;
}

.greyGridTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.greyGridTable th {
  padding-bottom: 14px;
}

.greyGridTable tbody td {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
}
.greyGridTable thead {
  border-bottom: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 10px;
}
.greyGridTable thead th {
  color: #b5b7c0;
  text-align: left;
  min-width: 10%;
}

.greyGridTable tbody td:last-child,
.greyGridTable thead th:last-child {
  text-align: center;
}

.greyGridTable thead::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: -40px;
  height: 1px;
  border: none;
  width: 40px;
  background-color: #eeeeee;
}

.greyGridTable thead::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  right: -40px;
  height: 1px;
  border: none;
  width: 40px;
  background-color: #eeeeee;
}

.statusActive,
.statusInactive {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 80px;
  padding: 3px 0;
  /* text-align: center; */
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  color: #008767;
  border-radius: 4px;
}

.statusInactive {
  background: #ffc5c5;
  border: 1px solid #df0404;
  color: #df0404;
}
